html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    background-color: hsl(237, 49%, 15%);
    background-image: radial-gradient(rgba(0,0,0,0,.903), hsl(237,49%,15%));
    background: linear-gradient(rgba(0,0,0,0.903), rgba(0,0,0)) url("https://media.tenor.com/W_xGobvUy6sAAAAC/photo-of-nerd-emoji-emote.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: inherit;
}

body {
    margin: 4rem 0;
    font: 600 1rem "", Sans-serif;
}

:focus {
    outline: 3px double hsl(185, 100%, 50%);
}

.header {
   display: flex;
   width: 100%; 
}