html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    background-color: hsl(237, 49%, 15%);
    background-image: radial-gradient(rgba(0,0,0,0,.903), hsl(237,49%,15%));
    background: linear-gradient(rgba(0,0,0,0.903), rgba(0,0,0)) url("https://media.tenor.com/W_xGobvUy6sAAAAC/photo-of-nerd-emoji-emote.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: inherit;
}

body {
    margin: 4rem 0;
    font: 600 1rem "", Sans-serif;
}

:focus {
    outline: 3px double hsl(185, 100%, 50%);
}

.header {
   display: flex;
   width: 100%;
   max-width: 76rem;
   margin: 0 auto;
   justify-content: space-between;
   padding: 1.5rem 3rem;
   border: 2px solid hsla(217, 16%, 45%, 0);
   border-radius: 8px;
}

.clock {
   padding: 0;
   font-size: 2em;
   font-weight: bold;
   color: white;
   text-align: center;
   margin: 0;
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px;
   background-color: rgba(51, 51, 51, 0);
   z-index: 1;
}

.box {
    padding: 8rem;
    margin: 2rem;
}

.audio-player {
    position: relative;
    width: 100%;
    text-align: center;
}

.circle-button {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
}

.circle-button.playing {
    background-color: chartreuse;
    color: #fff;
}

.circle-button,.audio-player audio,.audio-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Adjust if needed */

.audio-controls {
    top: 50%; 
}

.select-audio-button {
    background-color: #fff;
    color: #000;
    padding-left: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#audio-file {
    display: none;
}

.fa-spin {
    animation: fa-spin 1s infinite linear;
    padding-left: 5px;
}

@keyframes fa-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.score {
    width: 12rem;
    text-align: center;
    line-height: 4.5rem;
    background: hsl(0, 0%, 100%);
    color: hsl(240, 3%, 7%);
    border-radius: 8px;
}
.score > span {
    display: block;
}

.score > span:first-child {
    color: hsl(230, 23%, 10%);
    font-size: 1.6rem;
    text-transform: uppercase;
}

#score {
    font-size: 6rem;
    font-weight: 700;
}

.sound-switch {
    margin: 10px auto;
    width: 6rem;
}

#switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}

.sound-switch span {
    display: block;
    text-align: center;
    color: rgb(196, 83, 244);
    font-size: 1.4rem;
    margin: 0;
}