* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
    font-family: "Playfair Display", serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        134.34% 134.34% at 50% 0%,
        #006effea 0%,
        #030308 100%
    );
}

.scoreboard {
    width: 700px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.title {
    padding-left: 30px;
    max-width: 150px;
  }
  
  .score {
    width: 150px;
    height: 114px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .score h1 {
    color: #2d2d34;
    font-size: 56px;
    font-family: "Playfair display", sans-serif;
  }
  
  .score p {
    color: #2a45c2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-align: left;
  }

